<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<p><%= flash[:notice] %></p>
<h1 style="color: blue <%= @q %>">Hola blue! <%= @q %>!</h1>

<h1>Formulario</h1>

<%= params.as_json %>


<form action="<%= pages_save_user_url %>" method="POST">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input name="q">
	
	<input type="submit" value="Enviar">
</form>